[submodule "plugins/helm"]
	path = plugins/helm
	url = https://github.com/emacs-helm/helm.git
[submodule "plugins/magit"]
	path = plugins/magit
	url = git://github.com/magit/magit.git
[submodule "plugins/cider"]
	path = plugins/cider
	url = git@github.com:clojure-emacs/cider.git
[submodule "plugins/clojure-mode"]
	path = plugins/clojure-mode
	url = git@github.com:clojure-emacs/clojure-mode.git
[submodule "plugins/seq"]
	path = plugins/seq
	url = git@github.com:NicolasPetton/seq.el.git
[submodule "plugins/ac-cider"]
	path = plugins/ac-cider
	url = git@github.com:clojure-emacs/ac-cider.git
[submodule "plugins/dash"]
	path = plugins/dash
	url = git@github.com:magnars/dash.el.git
[submodule "plugins/flx"]
	path = plugins/flx
	url = git@github.com:lewang/flx.git
[submodule "plugins/jump"]
	path = plugins/jump
	url = git@github.com:eschulte/jump.el.git
[submodule "plugins/hydra"]
	path = plugins/hydra
	url = git@github.com:abo-abo/hydra.git
[submodule "plugins/clj-refactor"]
	path = plugins/clj-refactor
	url = git@github.com:clojure-emacs/clj-refactor.el.git
[submodule "plugins/peg"]
	path = plugins/peg
	url = git@github.com:emacsmirror/peg.git
[submodule "plugins/edn"]
	path = plugins/edn
	url = git@github.com:expez/edn.el.git
[submodule "plugins/yasnippet"]
	path = plugins/yasnippet
	url = git@github.com:capitaomorte/yasnippet.git

	[submodule "plugins/ert"]
		path = plugins/ert
	url = git://github.com/ohler/ert.git
	[submodule "plugins/fuzzy-el"]
		path = plugins/fuzzy-el
	url = git://github.com/auto-complete/fuzzy-el.git
	[submodule "plugins/auto-highlight-symbol"]
	path = plugins/auto-highlight-symbol
	url = git@github.com:emacsmirror/auto-highlight-symbol.git
	[submodule "plugins/emacs-git-gutter"]
	path = plugins/emacs-git-gutter
	url = git@github.com:syohex/emacs-git-gutter.git
	[submodule "plugins/emacs-git-gutter-fringe"]
	path = plugins/emacs-git-gutter-fringe
	url = git@github.com:syohex/emacs-git-gutter-fringe
	[submodule "plugins/emacs-powerline"]
		path = plugins/emacs-powerline
	url = git://github.com/jonathanchu/emacs-powerline.git
	[submodule "plugins/git-emacs"]
	path = plugins/git-emacs
	url = git://github.com/tsgates/git-emacs.git
	[submodule "plugins/git-modes"]
		path = plugins/git-modes
	url = git@github.com:magit/git-modes.git
	[submodule "plugins/highlight-parentheses"]
	path = plugins/highlight-parentheses
	url = git@github.com:nschum/highlight-parentheses.el.git
	[submodule "plugins/projectile"]
	path = plugins/projectile
	url = git@github.com:bbatsov/projectile.git
	[submodule "plugins/spinner"]
	path = plugins/spinner
	url = git@github.com:Malabarba/spinner.el.git
[submodule "plugins/powerline"]
	path = plugins/powerline
	url = git@github.com:milkypostman/powerline.git
[submodule "plugins/auto-complete"]
	path = plugins/auto-complete
	url = git@github.com:auto-complete/auto-complete.git
[submodule "plugins/popup-el"]
	path = plugins/popup-el
	url = git@github.com:auto-complete/popup-el.git
[submodule "plugins/highlight-symbol"]
	path = plugins/highlight-symbol
	url = git@github.com:nschum/highlight-symbol.el.git
[submodule "plugins/fringe-helper"]
	path = plugins/fringe-helper
	url = git@github.com:nschum/fringe-helper.el.git
[submodule "plugins/s"]
	path = plugins/s
	url = git@github.com:magnars/s.el.git
[submodule "plugins/multiple-cursors"]
	path = plugins/multiple-cursors
	url = git@github.com:magnars/multiple-cursors.el.git
[submodule "plugins/align-cljlet"]
	path = plugins/align-cljlet
	url = git@github.com:gstamp/align-cljlet.git
[submodule "plugins/rainbow-delimiters"]
	path = plugins/rainbow-delimiters
	url = git@github.com:Fanael/rainbow-delimiters.git
[submodule "plugins/paredit"]
	path = plugins/paredit
	url = git@github.com:emacsmirror/paredit.git
[submodule "plugins/pkg-info"]
	path = plugins/pkg-info
	url = git@github.com:lunaryorn/pkg-info.el.git
[submodule "plugins/epl"]
	path = plugins/epl
	url = git@github.com:cask/epl.git
[submodule "plugins/midje-mode"]
	path = plugins/midje-mode
	url = git://github.com/dnaumov/midje-mode.git
[submodule "plugins/floobits"]
	path = plugins/floobits
  url = https://github.com/Floobits/floobits-emacs.git

  [submodule "plugins/company-mode"]
	path = plugins/company-mode
  url = git@github.com:company-mode/company-mode.git


  [submodule "plugins/devdocs-lookup"]
	path = plugins/devdocs-lookup
  url = git@github.com:skeeto/devdocs-lookup.git

    [submodule "plugins/flycheck"]
	path = plugins/flycheck
  url = git@github.com:flycheck/flycheck.git

    [submodule "plugins/flycheck-clj-kondo"]
	path = plugins/flycheck-clj-kondo
  url = git@github.com:flycheck/flycheck-clj-kondo.git

    [submodule "plugins/flycheck-joker"]
	path = plugins/flycheck-joker
  url = git@github.com:candid82/flycheck-joker.git

    [submodule "plugins/scss-mode"]
	path = plugins/scss-mode
  url = git@github.com:antonj/scss-mode.git

    [submodule "plugins/sesman"]
	path = plugins/sesman
  url = git@github.com:vspinu/sesman.git




[submodule "plugins/squiggly-clojure"]
	path = plugins/squiggly-clojure
	url = git@github.com:clojure-emacs/squiggly-clojure.git
