[submodule "plugins/helm"]
	path = plugins/helm
	url = https://github.com/emacs-helm/helm.git
[submodule "plugins/magit"]
	path = plugins/magit
	url = git://github.com/magit/magit.git
[submodule "plugins/midje-mode"]
	path = plugins/midje-mode
	url = git://github.com/dnaumov/midje-mode.git
