[submodule "plugins/helm"]
	path = plugins/helm
	url = https://github.com/emacs-helm/helm.git
[submodule "plugins/magit"]
	path = plugins/magit
	url = git://github.com/magit/magit.git
[submodule "plugins/midje-mode"]
	path = plugins/midje-mode
	url = git://github.com/dnaumov/midje-mode.git
[submodule "plugins/cider"]
	path = plugins/cider
	url = git@github.com:clojure-emacs/cider.git
[submodule "plugins/clojure-mode"]
	path = plugins/clojure-mode
	url = git@github.com:clojure-emacs/clojure-mode.git
[submodule "plugins/seq"]
	path = plugins/seq
	url = git@github.com:NicolasPetton/seq.el.git
[submodule "plugins/ac-cider"]
	path = plugins/ac-cider
	url = git@github.com:clojure-emacs/ac-cider.git
[submodule "plugins/dash"]
	path = plugins/dash
	url = git@github.com:magnars/dash.el.git
[submodule "plugins/flx"]
	path = plugins/flx
	url = git@github.com:lewang/flx.git
[submodule "plugins/clj-refactor"]
	path = plugins/clj-refactor
	url = https://github.com/clojure-emacs/clj-refactor.el
[submodule "plugins/edn"]
	path = plugins/edn
	url = git@github.com:expez/edn.el.git
[submodule "plugins/peg"]
	path = plugins/peg
	url = git@github.com:emacsmirror/peg.git
[submodule "plugins/jump"]
	path = plugins/jump
	url = git@github.com:eschulte/jump.el.git
[submodule "plugins/hydra"]
	path = plugins/hydra
	url = git@github.com:abo-abo/hydra.git
[submodule "plugins/git-emacs"]
	path = plugins/git-emacs
	url = git@github.com:tsgates/git-emacs.git
[submodule "plugins/paredit"]
	path = plugins/paredit
	url = git@github.com:emacsmirror/paredit.git
[submodule "plugins/spinner"]
	path = plugins/spinner
	url = git@github.com:Malabarba/spinner.el.git
[submodule "plugins/projectile"]
	path = plugins/projectile
	url = git@github.com:bbatsov/projectile.git
[submodule "plugins/rainbow-delimiters"]
	path = plugins/rainbow-delimiters
	url = git@github.com:Fanael/rainbow-delimiters.git
[submodule "plugins/powerline"]
	path = plugins/powerline
	url = git@github.com:milkypostman/powerline.git
[submodule "plugins/emacs-git-gutter-fringe"]
	path = plugins/emacs-git-gutter-fringe
	url = git@github.com:syohex/emacs-git-gutter-fringe.git
[submodule "plugins/highlight-symbol"]
	path = plugins/highlight-symbol
	url = git@github.com:nschum/highlight-symbol.el.git
[submodule "plugins/emacs-git-gutter"]
	path = plugins/emacs-git-gutter
	url = git@github.com:syohex/emacs-git-gutter.git
[submodule "plugins/fringe-helper"]
	path = plugins/fringe-helper
	url = git@github.com:nschum/fringe-helper.el.git
